	    <script src="js/vendor/jquery-1.8.3.min.js"></script>
	    <script src="js/vendor/jquery-ui-1.9.1.custom.min.js"></script>

	    <script src="js/vendor/react/react.js"></script>
	    <script src="js/vendor/react/jsx-transformer.js"></script>

	    <!-- COMPILED JSX -->
	    <script type="text/javascript" src="js/components/compiled/nav.js"></script>
	    <script type="text/javascript" src="js/components/compiled/mainComponent.js"></script>
	    <script type="text/javascript" src="js/components/compiled/about.js"></script>
	    <script type="text/javascript" src="js/components/compiled/projectImages.js"></script>
	    <script type="text/javascript" src="js/components/compiled/skills.js"></script>

	    <script src="js/vendor/bootstrap.min.js"></script>
	    <script src="js/vendor/ascensor.min.js"></script>
	    <script src="js/vendor/jquery.scrollTo-1.4.3.1-min.js"></script>
	    <script src="js/vendor/jquery.easing-1.3.js"></script>
	    <script src="js/vendor/is-mobile.js"></script>

	    <script src="js/vendor/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
	    <script src="js/vendor/fancybox/source/jquery.fancybox.pack.js"></script>
	    <script src="js/vendor/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
	    <script src="js/vendor/fancybox/source/helpers/jquery.fancybox-media.js"></script>
	    <script src="js/vendor/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>

	    <!--[if lt IE 9]><script src="js/css3-mediaqueries.js"></script><![endif]-->

		<script src="js/views/main.js"></script>

	    <script type="text/javascript">
	    $(document).ready(function() {
	      $(".fancybox").fancybox({
	        prevEffect: "none",
	        nextEffect: "none",
	        helpers: {
	          title: {
	            type: "outside"
	          },
	          overlay : {
	            opacity : 0.8,
	            css : {
	              "background-color" : "#000"
	            }
	          },
	          thumbs  : {
	            width : 50,
	            height  : 50
	          }
	        }
	      });
	    });
	   </script>
	</body>
</html>
